div.tabs {
  text-align: right;
  padding-right: 25px;
  padding-bottom: 4px; }
  div.tabs a:link, div.tabs a:visited {
    font-size: 90%;
    padding: 4px 18px 0 18px;
    border: 2px solid transparent; }
  div.tabs a:hover {
    padding-bottom: 4px;
    background-color: #ffffcc;
    border-width: 2px 2px 0 2px;
    border-color: #a2d3e0;
    border-style: solid; }
  div.tabs a.selected {
    padding-bottom: 6px;
    color: #f00919;
    text-decoration: none;
    background-color: #ffffcc;
    border: 2px solid #fff;
    border-color: #f00919;
    border-width: 2px 2px 0 2px; }

div.tabs_body {
  padding: 10px 15px 8px 15px;
  margin-bottom: 15px;
  background-color: #ffffcc;
  border: 2px solid #fff;
  border-color: #f00919;
  border-width: 2px; }
  div.tabs_body div.tab_body {
    display: none; }
    div.tabs_body div.tab_body.selected {
      display: block; }
